- move    ||= false
- show    ||= false
- edit    ||= true
- destroy ||= true
.admin-commands
  .pull-right
    .btn-group.btn-group-xs
      - if can? :destroy, klass and destroy == true
        = link_to get_icon(:delete), klass, class: 'btn xbtn-default', title: 'Delete', :method => :delete, data: { confirm: 'Are you sure?' }

      - if can? :edit, klass and edit == true
        = link_to get_icon(:edit), send('edit_' + klass.class.to_s.underscore + '_path', klass), class: 'btn xbtn-default', title: 'Edit'

      - if can? :read, klass and show == true
        = link_to get_icon(:show), klass, class: 'btn xbtn-default', title: 'View'

      - if can? :move, klass and move == true
        .btn.xbtn-default
          .handle= get_icon :move, title: 'Reposition'

