%footer#body-footer.clearfix.hidden-print
  .pull-right= link_to image_tag( 'WWIT-Logo.png', height: 64 ), theatre_url
  (404) 817-7529 (Box Office)
  %address.pull-right.hidden-xs
    1216 SPRING ST. NW<br>
    ATLANTA, GA 30309<br>
    (404) 817-PLAY
  .copyright
    &copy; #{Date.today.year} Whole World Improv Theatre
    %br we own this stuff, so quit copyin'