#error_explanation.red.box
  %h2.no-top-pad #{pluralize(model.errors.count, "error")} prohibited this #{model.class.to_s.downcase} from being saved:
  %ol
    - model.errors.full_messages.each do |msg|
      %li= msg

