%footer#public-show-footer.clearfix.hidden-print
  .pull-right= link_to image_tag( 'WWIT-Logo.png', height: 64 ), theatre_url
  %address.pull-right
    1216 SPRING ST. NW<br>
    ATLANTA, GA 30309<br>
    (404) 817-7529
  .phone= tel_link('Tickets: 404-817-PLAY', '404-817-7529')
  .copyright
    &copy; #{Date.today.year} Whole World Improv Theatre
