The following message is waiting for your approval:

Sent By: #{@message.sender.name}
Subject: #{@message.subject}
#{@message.formatted_text(:plain)}

Please visit #{message_url(@message)} to approve.
