@font-face {
  font-family: 'helveticaneue-light';
  src: font-url('helveticaneue-lightext-webfont.eot');
  src: font_url('helveticaneue-lightext-webfont.svg');
  src: font-url('helveticaneue-lightext-webfont.ttf');
  src: font-url('helveticaneue-lightext-webfont.woff');
}

@font-face {
  font-family: 'univers_59_ultra_condensedRg';
  src: font-url('univers_59_ultra_condensed-webfont.eot');
  src: font-url('univers_59_ultra_condensed-webfont.svg');
  src: font-url('univers_59_ultra_condensed-webfont.ttf');
  src: font-url('univers_59_ultra_condensed-webfont.woff');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,300,600,800);

$font-family-base: 'Helveticaneue-light', Helvetica, Arial, sans-serif;
//$font-family-base: 'univers_59_ultra_condensedRg', sans-serif;
//$font-family-base: 'Open Sans', sans-serif;

$wwit-red:    #D42022;
$wwit-yellow: #FFC500;
$wwit-orange: #F67728;
$wwit-blue:   #1b92b1;
$wwit-green:  #9cc41e;

$wwit-red-dark: darken($wwit-red, 25%);
$wwit-blue-dark: darken($wwit-blue, 10%);

// Grid Settings
$grid-float-breakpoint: 1024px;

//$body-bg: $wwit-yellow;
$body-bg:                   transparant;
$text-color:                black;

$brand-primary:             $wwit-blue;
$brand-success:             $wwit-green;
$brand-warning:             $wwit-yellow;
$brand-danger:              $wwit-red;
$brand-info:                $wwit-blue;

$link-color:                $wwit-blue;
$link-hover-color:          $wwit-red;

//$table-bg: $wwit-yellow;
$table-bg-accent: transparentize($wwit-yellow, .8);
//$table-bg-accent: $wwit-orange;
//$table-border-color: $wwit-orange;

$navbar-default-link-hover-bg: $wwit-yellow;
$navbar-default-link-hover-color: $wwit-red;

// Navbar defaults
$navbar-default-color:                    $wwit-yellow;
$navbar-default-bg:                       $wwit-red;

// Navbar links
$navbar-default-link-color:               $wwit-yellow;
$navbar-default-link-hover-color:         $wwit-yellow;
$navbar-default-link-hover-bg:            darken($navbar-default-bg, 1.5%);
$navbar-default-link-active-color:        white;
$navbar-default-link-disabled-color:      lighten($navbar-default-link-color, 6.5%);

// Navbar toggle
$navbar-default-toggle-hover-bg:          $wwit-orange;
$navbar-default-toggle-icon-bar-bg:       $wwit-yellow;
$navbar-default-toggle-border-color:      $wwit-yellow;

// Dropdown
$dropdown-bg:                             $wwit-orange;
$dropdown-divider-bg:                     $wwit-orange;
$dropdown-link-color:                     black;
$dropdown-link-active-color:              $navbar-default-link-active-color;
$dropdown-link-hover-color:               $navbar-default-link-hover-color;
$dropdown-link-hover-bg:                  $navbar-default-link-hover-bg;
$dropdown-divider-bg:                     $wwit-red;
$dropdown-header-color:                   $wwit-yellow;

// Buttons
$btn-default-bg:                          lighten($wwit-orange, 50%);
$btn-default-color:                       black;
$btn-default-border:                      darken($btn-default-bg, 10%);
$btn-primary-color:                       $wwit-orange;

$btn-success-bg:                          $wwit-green;
$btn-success-color:                       lighten($btn-success-bg, 40%);

$btn-warning-bg:                          $wwit-yellow;
$btn-warning-color:                       lighten($btn-warning-bg, 40%);

$btn-danger-bg:                           $wwit-red;
$btn-danger-color:                        lighten($btn-danger-bg, 40%);

$btn-info-bg:                             $wwit-blue;
$btn-info-color:                          lighten($btn-info-bg, 40%);

$badge-bg:                                $wwit-green;
$badge-color:                             $wwit-blue-dark;

