@font-face {
  font-family: 'helveticaneue-light';
  src: font-url('helveticaneue-lightext-webfont.eot');
  src: font_url('helveticaneue-lightext-webfont.svg');
  src: font-url('helveticaneue-lightext-webfont.ttf');
  src: font-url('helveticaneue-lightext-webfont.woff');
}

@font-face {
  font-family: 'univers_59_ultra_condensedRg';
  src: font-url('univers_59_ultra_condensed-webfont.eot');
  src: font-url('univers_59_ultra_condensed-webfont.svg');
  src: font-url('univers_59_ultra_condensed-webfont.ttf');
  src: font-url('univers_59_ultra_condensed-webfont.woff');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,300,600,800);

$font-family-base: 'Helveticaneue-light', Helvetica, Arial, sans-serif;
//$font-family-base: 'univers_59_ultra_condensedRg', sans-serif;
//$font-family-base: 'Open Sans', sans-serif;

$wwit-red:    #D42022;
$wwit-yellow: #FFC500;
$wwit-orange: #F67728;
$wwit-blue:   #1b92b1;
$wwit-green:  #9cc41e;

$wwit-red-dark: darken($wwit-red, 25%);

$body-bg: $wwit-yellow;
$text-color: black;

$brand-primary: $wwit-red;
$brand-success: $wwit-green;
$brand-warning: $wwit-yellow;
$brand-danger:  $wwit-red;
$brand-info:    $wwit-blue;

//$link-color: $wwit-red;
//$link-hover-color: $wwit-orange;

$table-bg: $body-bg;
$table-bg-accent: lighten($body-bg, 15%);
$table-border-color: $wwit-orange;

$navbar-default-link-hover-bg: $wwit-yellow;
$navbar-default-link-hover-color: $wwit-red;

// Navbar defaults
$navbar-default-color:                     $wwit-yellow;
$navbar-default-bg:                        $wwit-red;

// Navbar links
$navbar-default-link-color:                $wwit-yellow;
$navbar-default-link-hover-color:          $wwit-red;
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 1.5%);
$navbar-default-link-active-color:         $wwit-yellow;
$navbar-default-link-disabled-color:       lighten($navbar-default-link-color, 6.5%);

// Navbar toggle
$navbar-default-toggle-hover-bg:           $wwit-orange;
$navbar-default-toggle-icon-bar-bg:        $wwit-yellow;
$navbar-default-toggle-border-color:       $wwit-yellow;

$dropdown-bg: $wwit-orange;
$dropdown-divider-bg: $wwit-red;
$dropdown-link-hover-bg: $wwit-red;

$btn-default-bg:    $wwit-blue;
$btn-default-color: $wwit-red;
$btn-default-border: darken($wwit-blue, 10%);
