body {
  background: white url('background-logo.jpg') no-repeat fixed -200px -100px;
  padding-top: 50px;
  padding-bottom: 100px;
}

nav { padding-right: 10px; }

h1, h2, h3, h4, h5 {
  font-family: 'univers_59_ultra_condensedRg';
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(black, .4);
  }
}

button a {
  color: $btn-default-color;
}

fieldset {
  padding: 10px;
  margin-bottom: 10px;
}

.box, .plaque {
  border: 1px solid transparentize($wwit-blue, .8);
  padding: 10px;
  border-radius: 10px;
  margin-right:  10px;
  margin-bottom: 20px;
}

.plaque {
  background-color: transparentize($wwit-yellow, .8);
  @include box-shadow(1px 1px 2px rgba(black, .8));
}

.red {
  color: $wwit-red;
}

.darkred {
  color: darken($wwit-red, 10%);
}

.pad-top-20 {
  margin-top: 20px;
}

.no-top-pad {
  padding-top: 0;
  margin-top: 0;
}

.handle { color: #777; cursor: move; }

#body-header {
  img {
    float: left;
    margin: -10px;
    padding-right: 10px;
    vertical-align: middle;
  }

  .signed-in-info {
    ul {
      list-style-type: none;
      text-align: right;
    }
    a {
      color: $wwit-red;
    }
  }

  .brand-logo {
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    &:hover {
      text-decoration: none;
      text-shadow: 2px 2px 5px black;

    }
  }
}

#body-footer {
  background: $wwit-red;
  color: $wwit-yellow;
  border-top: 5px solid $wwit-red-dark;
  padding: 5px 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  z-index: 99999;

  .copyright {
    font-style: italic;
    font-size: .8em;
    position: absolute;
    bottom: 10px;
  }
}

.wwit-logo {
  position: fixed;
  top: 80px;
  right: 50px;
  height: 256px;
  width: 335px;
  background-image: url('WWIT-Logo-sm.png')
}
