// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar {
  .cal-table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      padding: 5px;
      border: 2px solid $wwit-yellow;
      font-size: 1em;
    }

    th {
      text-align: center;
      width: 14.2857142857143%;
      text-transform: uppercase;
      background: black;
      color: white;
    }

    td {
      font-size: 1.2em;
      background: #EEE;
      color: #777;
      height: 80px;
      vertical-align: top;
      margin: 0;
      padding: 0;

      &:hover {
        color: $wwit-red;
        border: 3px solid $wwit-orange;
      }
    }

    .cal-day {
      padding: 5px;

      a {
        color: #666;
        display: block;
        height: 100%;
        text-decoration: none;

        &:hover {
          color: inherit;
          background-color: transparent;
        }
      }

      &.past { background-color: #DDD }
      &.notmonth, &.notmonth a { color: #BBB; }
      &.today { background-color: #D7F2FF; }

      &.selected {
        a { color: $wwit-yellow; }
        background-color: $wwit-red;
      }

      &.locked {
        a { color: $wwit-orange; }
        background-color: $wwit-red-dark;
      }
    }
  }
  ul {
    font-size: 11px;
    padding-left: 20px;
  }
}

.month-controls {
  vertical-align: middle;
  text-align: center;
  color: $wwit-red;

  a {
    text-decoration: none;
    border-radius: 50px;
    font-size: 0.8em;
    color: $wwit-red;

    &:hover {
      color: $wwit-yellow;
    }
  }
}


