// Place all the styles related to the conflicts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#conflicts {
  #max-note {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;

    &.under-limit {
      font-weight: bold;
      background: $state-info-bg;
      border: 3px solid $state-info-border;
      color: $state-info-text;
    }

    &.at-limit {
      font-weight: bold;
      background: $state-success-bg;
      border: 3px solid $state-success-border;
      color: $state-success-text;
    }

    &.over-limit {
      border: 3px solid $state-danger-border;
      background: $state-danger-bg;
      color: $state-danger-text;
      font-weight: bold;
    }
  }
}

#conflicts-index {
  .over-limit {
    color: red;
    font-weight: bold;
  }
  .under-limit {
    color: green;
  }
}
