.status-red    { background-color: transparentize($wwit-red,    .8); }
.status-yellow { background-color: transparentize($wwit-yellow, .8); }
.status-green  { background-color: transparentize($wwit-green,  .8); }

#announcements {

  .signature {
    padding: 10px 0;
    font-style: italic;
    color: $wwit-blue-dark;
  }

  .message-subject {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .message-body {
    color: black;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .admin-controls {
    padding: 0;
    margin: 0 15px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .status {
    padding-bottom: 15px;
  }

  .member-count {
    color: slategray;
    font-style: italic;
    font-size: .8em;
  }

}

#message {
  .body {
    font-size: 1.2em;
  }

  .time {
    font-style: italic;
  }

}