body#public {
  background: black;
  color: $wwit-yellow;
  padding-top: 10px;

  h1 {
    color: $wwit-yellow;
    font-size: 4.5em;
    text-shadow: 2px 2px 7px $wwit-red;
  }

  .logo {
    float: right;
    img { max-height: 240px; }
  }
  .logo-small {
    float: left;
    img { max-height: 120px; }
  }
}

#public-show-footer {
  @extend #body-footer;
  position: fixed;
  bottom: 0px;

  .phone {
    font-size: 2em;
  }
}

