.nested-fields
  .field
    .col-md-5
      = f.association :skill, collection: @skills, include_blank: false, label: false,
        disabled: !(can? :manage, @show),
        input_html: { class: 'chosen-select' },
        :wrapper_html => { :style => 'display: inline' }

    .col-md-6
      = f.association :member, collection: @crewable, include_blank: true, label: false,
        disabled: !(can? :manage, @show),
        input_html: { class: 'chosen-select', data: { placeholder: 'No one scheduled' } },
        :wrapper_html => { :style => 'display: inline' }

    .col-md-1
      - if can? :manage, @show
        = link_to_remove_association get_icon(:remove, title: 'Remove Shift'), f


