#public-show
  .logo.hidden-xs= image_tag 'WWIT-Logo.png'
  .logo-small.visible-xs= image_tag 'WWIT-Logo.png'

  - if @show.nil?
    - content_for :title, '404 - No Shows Found'
    %h1 Whoops!  We're sorry, but there aren't any shows for this Listing.

  - else
    - content_for :title, @show.datetime
    .title
      %h1= @show.name
      %h2= @show.dowtitle

