%h1 Manage Conflicts

= simple_form_for :conflicts do |f|
  = f.input :member,
    collection: @members,
    include_blank: false,
    label: 'Showing conflicts for:',
    selected: @selected.id,
    input_html: { class: 'chosen-select', onchange: 'submit()' }

= "Conflicts: #{@selected.conflicts.empty? ? 'None' : @selected.conflicts.map{ |c| format_date(c.date) }.to_sentence}"

%p
#conflict_calendar
