%h1 Listing conflicts

%table
  %tr
    %th Member Name
    %th Conflicts

  - @members.each do |member|
    %tr
      %td= member.name
      - if member.conflicts.empty?
        %td No Conflicts
      - else
        %td= member.conflicts.by_date.map { |c| c.date }.to_sentence

  = will_paginate @members

%br= link_to 'Manage Conflicts', manage_conflicts_path
