%h1 Manage Conflicts for #{@member.name}

-#= simple_form_for :conflicts do |f|
-#  = f.input :member,
-#    collection: @members,
-#    include_blank: false,
-#    label: 'Showing conflicts for:',
-#    member: @selected.id,
-#    input_html: { class: 'chosen-select', onchange: 'submit()' }

= "Current Conflicts: #{@conflicts.empty? ? 'None' : @conflicts.map{ |c| c.date }.to_sentence}"

.conflicts
  .instructions
    Please click on a day to set or remove a conflict. RED indicates current conflicts, PURPLE are locked conflicts (cannot be changed)
  .max_note
    Please note, you may choose a maximum of #{@max_conflicts} per month.  We won't stop you from selecting more, but anything over that limit may be ignored.
  #conflict_calendar{ data: { source_url: get_member_conflicts_url(@member), update_url: set_member_conflicts_url(@member) } }
