.controls= render 'partials/month_controls', mini: true, remote: true
= calendar( date: @date, events: @shifts, size: 'mini' ) do |date|
  - shift = @shifts.for_date(date).first
  -if shift
    %span{ rel: 'tooltip', data: { title: shift.skill.name, placement: 'top' } }= link_to date.day, shift.show
  - else
    - show = Show.for_date(date).first
    - if show
      = link_to date.day, show_path(show)
    - else
      = date.day
