.controls= render 'partials/month_controls', mini: true, remote: true
= calendar( date: @date, events: @shifts, size: 'mini' ) do |date|
  -if @shifts.joins(:show).pluck('shows.date').include?(date)
    .bs-tooltip{ title: @shifts.for_date(date).first.skill.name, data: { toggle: 'tooltip' } }= date.day
  - else
    = date.day
