.controls= render 'partials/month_controls', mini: true, remote: true
= calendar( date: @date, events: @shifts, size: 'mini' ) do |date|
  - shift = @shifts.for_date(date).first
  -if shift
    %span{ rel: 'popover', data: { content: link_to( shift.skill.name, shift.show), placement: 'top' } }= date.day
  - else
    = date.day
